#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin-top: 50px;
  display: flex;
  font-size: xxx-large;
}

.static {
  padding-right: 10px;
}

.word {
  color:darkorange
}